<div class="library_infowindow">
  <h3><%= library.name %></h3>
  <div class="address"><%= library.address %></div>
  <div class="db_name">DG: <%= library.dg_name %></div>
  <div class="places">Places: <%= library.places %></div>
</div>
